/* COLORS */
/*
 YELLOW: #F6B831
BLUE: #3598DC
PINK: #ED668E
WHITE: #FFFFFF 
*/

/* Ponemos esto aqui para que cubra toda la pantalla */

html,
body,
#root,
.App {
  width: 100% !important;
  height: 100% !important;
}

/* ALL */
body {
  margin: 0;
  width: 100wv;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}
