/*
 YELLOW: #FFC93C
 YELLOW BACK:  #f3d26e
BLUE: #3598DC
BLUE - SHADOW: #1875b3
BLUE - WAVES #6bbcf3
PINK: #ED668E
WHITE: #FFFFFF 

#0081C9
#5BC0F8
#86E5FF
*/
/* CREAM COLORS: 

#C3F8FF
#ABD9FF
#FFF6BF
#FFEBAD

*/

.single_card_container {
  width: 375px;
  height: 585px;
  font-family: 'Roboto', sans-serif;
  background-color: #abd9ff;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px #1875b3;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.single_card_container:hover {
  transform: scale(1.05);
  transform-origin: center;
}

.card_img img {
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card_weight {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: -29.5px;
  text-decoration: none;
  margin: 0px;
  padding: 2px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  background-color: #033b5c;
  width: 200px;
}

.card_weight h3 {
  text-align: start;
  text-decoration: none;
}

/* TEXT */

.card_text {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_title {
  display: flex;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lilita One', cursive;
  color: aliceblue;
  /* text-shadow: 2px 2px 3px #b68800; */
  /* -webkit-text-stroke: 0.1px #c18d00; */
  /* text-shadow: 3px 3px 4px #3598dc; */
  -webkit-text-stroke: 0.1px #1875b3;
  margin: 0px;
  letter-spacing: 0.5px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
}

.card_title h1 {
  text-decoration: none;
  margin: 0px;
  text-align: center;
}

/* .card_title:hover {
  color: #ffe172;
  -webkit-text-stroke: 0.1px #684500;
} */

/* TEMPERAMENS */

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.card_list {
  text-decoration: none;
  list-style-type: none;
}

.card_list_title {
  font-family: 'Lilita One', cursive;
  color: aliceblue;
  -webkit-text-stroke: 0.1px #1875b3;
  text-decoration: none;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card_list {
  width: 320px;
  height: 150px;
  padding-left: 15px;
}

.card_list li {
  text-decoration: none;
  font-size: 18px;
  color: #033b5c;
  font-weight: 600;
  text-align: start;
  width: 155px;
}
