/*
 YELLOW: #FFC93C
 YELLOW BACK:  #f3d26e
BLUE: #3598DC
BLUE - SHADOW: #1875b3
BLUE - WAVES #6bbcf3
PINK: #ED668E
WHITE: #FFFFFF 

#0081C9
#5BC0F8
#86E5FF
*/
/* CREAM COLORS: 

#C3F8FF
#ABD9FF
#FFF6BF
#FFEBAD

*/

.title {
  font-size: 120px;
  font-family: 'Lilita One', cursive;
  text-shadow: 5px 1px 2px #1875b3;
  letter-spacing: 2px;
}
